{% extends "main/base.html" %}
{% load static %}


{% block title %}
    <title>Alex Motellón - Homepage</title>
{% endblock %}


{% block nav %}
    <li class="nav-item"><a class="nav-link" href="{% url 'main:contact' %}">Contact</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'main:tabs' %}">Tabs</a></li>
    <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'main:homepage' %}">Videos</a></li>
{% endblock %}


{% block header %}
    <h1 class="fw-bolder">Covers & Tabs</h1>
    <p class="lead mb-0">A list of all the videos uploaded to my Youtube channel</p>
{% endblock %}


{% block content %}
    <!-- Page content-->
    <div class="container" >
        <div class="row d-flex justify-content-center">
            <!-- Blog entries-->
            <div class="col">
                <!-- Nested row for non-featured blog posts-->
                {% for video in page_videos %}
                    <div class="row-px-5">
                        <!-- Blog post-->
                        <div class="card mt-3">
                            <iframe class="card-img-top" width="600" height="400" src="{{ video.url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen referrerpolicy="strict-origin-when-cross-origin; no-referrer-when-downgrade"></iframe>
                            <div class="card-body text-center">
                                <h2 class="card-title h4">{{ video.title }}</h2>
                                <p class="card-text"></p>
                                <a class="btn btn-secondary" href="{% url 'main:video' id=video.id %}">Video page</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <!-- Pagination-->
                <nav aria-label="Pagination">
                    <hr class="my-0" />
                    <ul class="pagination justify-content-center my-4">
                        {% if page_videos.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
                            <li class="page-item"><a class="page-link" href="?page={{ page_videos.previous_page_number }}">Previous</a></li>
                        {% else %}
                            <li class="page-item disabled"><a class="page-link" href="?page=1">&laquo; First</a></li>
                            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a></li>
                        {% endif %}

                        <li class="page-item active" aria-current="page"><p class="page-link"> Page {{ page_videos.number }} of {{ page_videos.paginator.num_pages }} </p></li>

                        {% if page_videos.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_videos.next_page_number }}">Next</a></li>
                            <li class="page-item"><a class="page-link" href="?page={{ page_videos.paginator.num_pages }}">Older &raquo;</a></li>
                        {% else %}
                            <li class="page-item disabled"><a class="page-link" href="#!">Next</a></li>
                            <li class="page-item disabled"><a class="page-link" href="#!">Older &raquo;</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}